.modal-header {
     background: var(--secondary-color);
     color: var(--primary-color);
     justify-content: center;
     text-transform: uppercase;
     padding: 10px 16px;
}

.modal-body .form-label {
     font-size: 0.875rem;
     margin-bottom: 6px;
     font-weight: 500;
     color: var(--primary-color);
}

.modal-body input,
.modal-body select {
     font-size: 0.875rem;
}

.modal-footer .view-more-btn.wo .btn {
     background: transparent;
     color: var(--secondary-color);
     border: 1px solid var(--secondary-color);
}

.modal-footer .view-more-btn.wo .btn:hover {
     border: 1px solid var(--primary-color);
     color: #fff;
}

.modal-body .text-danger {
     font-size: 0.75rem;
}

.captcha-section {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}

.captcha-container {
     margin: 10px 0 0 0;
     width: 100%;
}

.captcha-box {
     font-size: 18px;
     font-weight: bold;
     letter-spacing: 6px;
     color: var(--primary-color);
     background: #f0f0f0;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     user-select: none;
     max-width: 150px;
     min-width: 115px;
     width: 100%;
     text-align: center;
}

.captcha-box #captchaBox {
     transform: rotate(355deg);
}

.captcha-refresh {
     font-size: 14px;
     color: #000000;
     cursor: pointer;
     text-decoration: none;
     position: absolute;
     right: 8%;
}

.captcha-input {
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
     position: relative;
}

@media (max-width: 768px) {

     .modal-body .form-label,
     .modal-body input,
     .modal-body select,
     .modal-body textarea {
          font-size: 0.75rem;
     }
}