/* Reviews Section */

.reviews-section {
     padding: 80px 0;
}

.reviews-section .reviews-container {
     column-gap: 0;
     counter-reset: item-counter;
     column-count: 3;
     gap: 20px;
}

.reviews-section .review-card {
     border-radius: 15px;
     border: 1px solid var(--Border-Color, #D4D4D4);
     background: var(--White, #FFF);
     padding: 20px;
     margin: 0 0 20px 0;
     display: flex;
     height: fit-content;
     flex-direction: column;
     justify-content: space-between;
     transition: transform 0.3s ease-in-out;
     position: relative;
     break-inside: avoid;
     box-sizing: border-box;
     counter-increment: item-counter;
}

.reviews-section .review-card .review-header {
     display: flex;
     justify-content: space-between;
     margin-bottom: 10px;
     color: var(--gray);
}

.reviews-section .review-card .review-header .rating {
     display: flex;
     align-items: center;
     gap: 5px;
}

.reviews-section .review-card .review-header .rating img{
     width: 100%;
}

.reviews-section .review-card .review-body {
     margin: 10px 0;
}

.reviews-section .review-card .review-body .review-text{
     font-size: 1.125rem;
     color: var(--black);
}

.reviews-section .review-card .review-footer {
     display: flex;
     justify-content: space-between;
}

.reviews-section .review-card .review-footer .reviewer-detail {
     display: flex;
     align-items: center;
     gap: 8px;
     font-weight: bold;
}

.reviews-section .review-card .review-footer .reviewer-detail .reviewer-thumbnail {
     padding: 12px 20px;
     border-radius: 50%;
     color: #fff;
     background: #371086;
}

.reviews-section .review-card .review-footer .review-imgs {
     display: flex;
}

.reviews-section .review-card .review-footer .review-imgs img {
     margin-left: -10px;
     width: 50px;
     height: 50px;
     border-radius: 50%;
}

@media (max-width: 992px) {
     .reviews-section .reviews-container {
          column-count: 2;
     }
}

@media (max-width: 576px) {
     .reviews-section .reviews-container {
          column-count: 1;
     }
}