:root {
  --primary-color: #134076;
  --secondary-color: #F39132;
  --cyan-color: #37D4D9;
  --selection-color: #FDF5ED;
  --border-color: #D4D4D4;
  --white: #fff;
  --black: #000;
  --gray: #757575;
  --placeholder-bg: #d5c8ba;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.error {
  color: red;
  font-size: 0.75rem;
  margin-bottom: 0;
}

.title-with-tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title .title-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-end;
  position: relative;
}

.title .title-text h2 {
  font-size: 2.25rem;
  color: var(--black);
  line-height: 1;
}

.title .title-text h2 span {
  font-weight: 700;
}

.title .title-text .title-underline {
  position: absolute;
  bottom: -10px;
}

.title .title-text .title-underline img {
  /* width: 100%; */
}

.title .deal-tabs .nav-tabs {
  border: none;
}

.title .deal-tabs .nav-tabs .nav-link {
  border: none;
  font-size: 1rem;
  color: var(--black);
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s ease;
}

.title .deal-tabs .nav-tabs .nav-link.active {
  color: var(--secondary-color);
  text-decoration: underline;
  text-underline-offset: 10px;
}

.title .view-more {
  display: flex;
  gap: 75px;
  align-items: center;
}

.title .view-more .slider-controls {
  position: relative;
}

.title .view-more .slider-controls .swiper-navBtn::after {
  display: none;
}

.title .view-more .slider-controls .swiper-button-next {
  right: 0;
  left: unset;
}

.title .view-more .slider-controls .swiper-button-prev {
  right: 35px;
  left: unset;
}

.title .view-more a {
  text-decoration: none;
  color: var(--black);
  font-size: 0.875rem;
}

/* BTN Style */

.view-more-btn a {
  padding: 6px 15px;
  border-radius: 6px;
  background: var(--secondary-color);
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.view-more-btn a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: 0;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s ease-out;
  border-radius: inherit;
}

.view-more-btn a:hover:before {
  transform: scale(1);
}

.view-more-btn a span {
  position: relative;
  z-index: 1;
}

.view-more-btn a:hover {
  color: var(--white);
}

.placeholder-bg {
  background: var(--placeholder-bg);
}

/* Tours */

.tours-section {
  padding: 80px 0;
}

.tours-section .tours-content .title h4 {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
}

.tours-section .tours-content .tour-filters {
  display: flex;
  gap: 25px;
  align-items: center;
  margin: 20px 0;
}

.tours-section .tours-content .tour-filters .filter select {
  background: #f2f2f2;
  border-radius: 8px;
  padding: 10px;
  border: none;
}

.tours-section .tours-content .tour-filters .filter select {
  background: #f2f2f2;
  border-radius: 8px;
  padding: 10px;
  border: none;
}

.tours-section .tours-content .tour-filters .reset-filter button {
  background: none;
  border: none;
  border-bottom: 1px solid var(--black);
  font-weight: 600;
}

.tours-section .tours-content .tour-cards {
  padding-top: 30px;
}

.tours-section .tours-content .tour-cards .tour-card {
  background: var(--white);
  border-radius: 32px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 40px;
}

.tours-section .tours-content .tour-cards .tour-card .tour-image {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}

.tours-section .tours-content .tour-cards .tour-card .tour-image img {
  width: 100%;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  height: 240px;
}

.tours-section .tours-content .tour-cards .tour-card .tour-card-footer {
  padding: 20px 20px 30px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.tours-section .tours-content .tour-cards .tour-card .tour-card-footer .tour-card-details {
  text-align: center;
}

.tours-section .tours-content .tour-cards .tour-card .tour-card-footer .tour-card-details .tour-name {
  color: var(--black);
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.tours-section .tours-content .tour-cards .tour-card .tour-card-footer .tour-card-details .total-packages {
  color: var(--gray);
  font-size: 0.875rem;
}

/* LOADING */
.tours-section .tours-content .tour-cards .tour-card .tour-image .img-loading {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  height: 150px;
}

@media(max-width:1200px) {
  .title .title-text h2 {
    font-size: 2rem;
  }
}

@media(max-width: 992px) {
  .title-with-tabs {
    flex-wrap: wrap;
    gap: 15px;
  }
}

@media (max-width: 576px) {
  .title .deal-tabs .nav-tabs .nav-link {
    padding: 5px 7px;
    font-size: 0.875rem;
  }

  .title .view-more .slider-controls {
    display: none;
  }

  .title .title-text h2 {
    font-size: 1.5rem;
  }
}