/* @import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap'); */
:root {
  --primary-color: #134076;
  --secondary-color: #F39132;
  --cyan-color: #37D4D9;
  --selection-color: #FDF5ED;
  --border-color: #D4D4D4;
  --white: #fff;
  --black: #000;
  --gray: #757575;
  --placeholder-bg: #d5c8ba;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.error {
  color: red;
  font-size: 0.75rem;
  margin-bottom: 0;
}

.title-with-tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title .title-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-end;
  position: relative;
}

.title .title-text h2 {
  font-size: 2.25rem;
  color: var(--black);
  line-height: 1;
}

.title .title-text h2 span {
  font-weight: 700;
}

.title .title-text .title-underline {
  position: absolute;
  bottom: -10px;
}

.title .title-text .title-underline img {
  /* width: 100%; */
}

.title .deal-tabs .nav-tabs {
  border: none;
}

.title .deal-tabs .nav-tabs .nav-link {
  border: none;
  font-size: 1rem;
  color: var(--black);
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s ease;
}

.title .deal-tabs .nav-tabs .nav-link.active {
  color: var(--secondary-color);
  text-decoration: underline;
  text-underline-offset: 10px;
}

.title .view-more {
  display: flex;
  gap: 75px;
  align-items: center;
}

.title .view-more .slider-controls {
  position: relative;
}

.title .view-more .slider-controls .swiper-navBtn::after {
  display: none;
}

.title .view-more .slider-controls .swiper-button-next {
  right: 0;
  left: unset;
}

.title .view-more .slider-controls .swiper-button-prev {
  right: 35px;
  left: unset;
}

.title .view-more a {
  text-decoration: none;
  color: var(--black);
  font-size: 0.875rem;
}

/* BTN Style */

.view-more-btn a,
.view-more-btn .btn {
  padding: 6px 15px;
  border-radius: 6px;
  background: var(--secondary-color);
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.view-more-btn a:before,
.view-more-btn .btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: 0;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s ease-out;
  border-radius: inherit;
}

.view-more-btn a:hover:before,
.view-more-btn .btn:hover:before {
  transform: scale(1);
}

.view-more-btn a span,
.view-more-btn .btn span {
  position: relative;
  z-index: 1;
}

.view-more-btn a:hover,
.view-more-btn .btn:hover {
  color: var(--white);
  border: 1px solid var(--primary-color);
}

.placeholder-bg {
  background: var(--placeholder-bg);
}

.placeholder-bg-light {
  background: var(--selection-color);
}

/* Tours */

.tours-section {
  padding: 80px 0;
}

.tours-section .tours-content .title h4 {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
}

.tours-section .tours-content .tour-filters {
  display: flex;
  gap: 25px;
  align-items: center;
  margin: 20px 0;
}

.tours-section .tours-content .tour-filters .filter select {
  background: #f2f2f2;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid var(--border-color);
  -moz-appearance: none;
  -webkit-appearance: none;
  apperance: none;
  background: var(--selection-color) url(../../public/assets/images/chevron-down-solid.svg) 94% / 7% no-repeat;
  width: 200px;
}

.tours-section .tours-content .tour-filters .reset-filter button,
.inner-tours-section .inner-tour-content .tour-filters .reset-filter button {
  background: none;
  border: none;
  border-bottom: 1px solid var(--black);
  font-weight: 500;
}

.tours-section .tours-content .tour-filters .reset-filter button:hover,
.inner-tours-section .inner-tour-content .tour-filters .reset-filter button:hover {
  border-bottom: 2px solid var(--primary-color);
  font-weight: 600;
  color: var(--primary-color);
}

.inner-tours-section .inner-tour-content .tour-filters .filter select {
  background: #f2f2f2;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid var(--border-color);
  -moz-appearance: none;
  -webkit-appearance: none;
  apperance: none;
  background: var(--selection-color) url(../../public/assets/images/chevron-down-solid.svg) 94% / 7% no-repeat;
  width: 220px;
  font-size: 0.875rem;
}

.tours-section .tours-content .tour-cards {
  padding-top: 30px;
}

.tours-section .tours-content .tour-cards .tour-card {
  background: var(--white);
  border-radius: 32px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 40px;
}

.tours-section .tours-content .tour-cards .tour-card .tour-image {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}

.tours-section .tours-content .tour-cards .tour-card .tour-image img {
  width: 100%;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  height: 240px;
}

.tours-section .tours-content .tour-cards .tour-card .tour-card-footer {
  padding: 20px 20px 30px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.tours-section .tours-content .tour-cards .tour-card .tour-card-footer .tour-card-details {
  text-align: center;
}

.tours-section .tours-content .tour-cards .tour-card .tour-card-footer .tour-card-details .tour-name {
  color: var(--black);
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.tours-section .tours-content .tour-cards .tour-card .tour-card-footer .tour-card-details .total-packages {
  color: var(--gray);
  font-size: 0.875rem;
}

/* ITINERARY PAGE */
.itinerary-section {
  padding: 50px 0;
}

.inner-header-main {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background: var(--selection-color);
  position: relative;
}

.inner-header-main .container {
  height: 100%;
  min-height: 300px;
}

.inner-header-main .inner-header-with-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inner-header-main .inner-page-title {
  padding-top: 100px;
}

.inner-header-main .inner-page-title h1 {
  /* font-weight: bold; */
  color: #371086;
  padding-bottom: 5px;
  /* font-family: "Just Another Hand"; */
  font-family: var(--font-just-another-hand), cursive;
  font-size: 4rem;
  line-height: 0.55;
}

.inner-header-main .inner-page-title h2 {
  color: var(--black);
  font-weight: bold;
}

.inner-header-main .inner-page-title a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
}

.inner-breadcrumb {
  display: flex;
  gap: 7px;
  align-items: center;
  flex-wrap: wrap;
}

.inner-breadcrumb a {
  font-weight: 600;
  color: var(--primary-color);
}

.inner-breadcrumb .self-page {
  color: var(--secondary-color);
}

.inner-header-main .inner-header-stats {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
  max-width: 420px;
  width: 100%;
}

.inner-header-main .inner-header-stats .stats {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-header-main .inner-header-stats .stats hr {
  width: 100%;
  margin: 10px 0;
}

.inner-header-main .inner-header-stats .stats .icon {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.inner-header-main .inner-header-stats .stats .icon img {
  width: 30px;
  height: 30px;
}

.inner-header-main .inner-header-stats .stats .title {
  text-transform: uppercase;
  color: var(--black);
}

.inner-header-main .inner-header-stats .stats .stats-foot {
  color: var(--primary-color);
  text-align: center;
  font-size: 1.125rem;
}

.inner-header-main .inner-header-stats .stats .stats-foot span {
  color: var(--gray);
  font-size: 0.875rem;
}

/* Inner Tours Section */

.inner-tours-section {
  padding: 80px 0;
}

.inner-tours-section .inner-tour-content .title h4 {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
}

.inner-tours-section .inner-tour-content .tour-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  margin: 20px 0;
}

.inner-tours-section .inner-tour-cards {
  padding-top: 30px;
}

.inner-tours-section .inner-tour-cards .package-card {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #D4D4D4;
  text-align: left;
  position: relative;
}

.inner-tours-section .inner-tour-cards .package-card .card-title-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.inner-tours-section .inner-tour-cards .package-card .package-card-img-wrapper {
  padding: 5px 0 5px 5px;
}

.inner-tours-section .inner-tour-cards .package-card .inner-card {
  display: flex;
  align-items: center;
}

.inner-tours-section .inner-tour-cards .package-card .package-card-body {
  padding: 5px 25px 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 75%;
}

.inner-tours-section .inner-tour-cards .package-card .card-body-right {
  width: 25%;
  display: flex;
  height: 100%;
}

.inner-tours-section .inner-tour-cards .package-card .card-body-right .hl {
  width: 1px;
  height: 100%;
  background: var(--gray);
  opacity: 0.20;
}


.inner-tours-section .inner-tour-cards .package-card .package-card-img {
  border-radius: 10px;
  width: 100%;
  /* height: 100%; */
  max-height: 300px;
}

.inner-tours-section .inner-tour-cards .package-card .package-card-title {
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 10px;
}

.inner-tours-section .inner-tour-cards .package-card .card-subtitle {
  color: var(--secondary-color);
  font-weight: 400;
  margin-bottom: 10px;
}

.inner-tours-section .inner-tour-cards .package-card .package-card-body hr {
  margin: 0 0 0 0;
  color: var(--gray);
  opacity: 0.20;
}

.inner-tours-section .inner-tour-cards .package-card .package-card-body .card-services {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  justify-content: space-between;
}

.inner-tours-section .inner-tour-cards .package-card .package-card-body .card-services .card-service {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-height: 56px;
}

.inner-tours-section .inner-tour-cards .package-card .package-card-body .card-services .card-service .service-icon img {
  width: 30px;
}

.inner-tours-section .inner-tour-cards .package-card .package-card-body .card-services .card-service .service-icon i {
  font-size: 1.125rem;
}

.inner-tours-section .inner-tour-cards .package-card .package-card-body .card-services .card-service .service-name {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--black);
}

.inner-tours-section .inner-tour-cards .package-card .card-body-right .card-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}

.inner-tours-section .inner-tour-cards .package-card .card-body-right .price {
  text-align: center;
}

.inner-tours-section .inner-tour-cards .package-card .card-body-right .card-action-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inner-tours-section .inner-tour-cards .package-card .card-body-right .card-action-btns .view-more-btn.wo a {
  background: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.inner-tours-section .inner-tour-cards .package-card .card-body-right .card-action-btns .view-more-btn.wo a:hover {
  border: 1px solid var(--primary-color);
  color: #fff;
}

.inner-tours-section .inner-tour-cards .package-card .card-body-right .card-action-btns .view-more-btn .btn {
  width: 100%;
}

.inner-tours-section .inner-tour-cards .package-card .price .price-value {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
}

.inner-tours-section .inner-tour-cards .package-card .price .price-content {
  font-size: 0.75rem;
  color: var(--gray);
}

.inner-tours-section .inner-tour-cards .package-card .package-card-body .card-note {
  font-size: 0.75rem;
  color: var(--gray);
  margin-bottom: 2px;
}

.inner-tours-section .inner-tour-cards .package-card .package-card-body .card-note span {
  color: red;
  font-weight: bold;
}

/* PACKAGE ITINERARY */
.itinerary-page {
  position: relative;
}

.itinerary-page .itinerary-page-left {
  position: relative;
}

.itinerary-page .itinerary-page-right {
  position: sticky;
  top: 85px;
}

.itinerary-page .itinerary-page-right .package-price-box {
  width: 100%;
  border: 1px solid #D4D4D4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itinerary-page .itinerary-page-right .package-price-box .price,
.itinerary-page .itinerary-page-right .package-price-box .services {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #D4D4D4;
  width: 100%;
}

.itinerary-page .itinerary-page-right .package-price-box .price .ammont {
  font-size: 1.75rem;
  color: #134076;
  font-weight: bold;
  margin: 20px 0 5px 0;
}

.itinerary-page .itinerary-page-right .package-price-box .price .info {
  font-size: 0.875rem;
  color: #757575;
}

.itinerary-page .itinerary-page-right .package-price-box .services {
  padding: 20px 0 15px 0;
}

.itinerary-page .itinerary-page-right .package-price-box .services .card-services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
  justify-content: space-evenly;
}

.itinerary-page .itinerary-page-right .package-price-box .services .card-services .card-service {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-height: 56px;
  margin-bottom: 5px;
}

.itinerary-page .itinerary-page-right .package-price-box .services .card-services .card-service .service-icon img {
  width: 30px;
}

.itinerary-page .itinerary-page-right .package-price-box .services .card-services .card-service .service-icon i {
  font-size: 1.125rem;
}

.itinerary-page .itinerary-page-right .package-price-box .services .card-services .card-service .service-name {
  font-weight: 400;
  font-size: 0.875rem;
  color: #000;
}

.itinerary-page .itinerary-page-right .package-price-box .services .act-btns {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-around;
}

.itinerary-page .itinerary-page-right .package-price-box .services .act-btns .iti-outline-btn,
.itinerary-page .itinerary-page-right .package-price-box .services .act-btns .iti-btn {
  width: 100%;
}

.itinerary-page .itinerary-page-right .package-price-box .services .act-btns .iti-outline-btn button {
  border-radius: 32px;
  border: 1px solid #134076;
  color: #000;
  background: #fff;
  padding: 7px 0;
  font-size: 0.875rem;
  width: 100%;
}

.itinerary-page .itinerary-page-right .package-price-box .services .act-btns .iti-btn button {
  border-radius: 32px;
  background: #134076;
  border: 1px solid #134076;
  color: #fff;
  padding: 7px 0;
  font-size: 0.875rem;
  width: 100%;
}

.itinerary-page .itinerary-page-right .package-price-box .call-now {
  padding: 20px 0;
}

.itinerary-page .itinerary-page-right .package-price-box .call-now .call-now-btn {
  padding: 10px 20px;
  border-radius: 26px;
  border: 0.5px solid #134076;
  background: linear-gradient(0deg, #ECE9E6 0%, #F3F3F3 100%);
  display: flex;
  gap: 15px;
  align-items: center;
}

.itinerary-page .itinerary-page-left .itinerary-title {
  padding: 30px 0 20px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.itinerary-page .itinerary-page-left .itinerary-title h3 {
  font-size: 1.5rem;
  color: #134076;
  font-weight: bold;
  margin-bottom: 0;
}

.itinerary-page .itinerary-page-left .itinerary-title .day-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.itinerary-page .itinerary-page-left .itinerary-title .day-info .info {
  padding: 7px 15px;
  border-radius: 25px;
  background: #f39132;
  color: #fff;
}

.itinerary-page .itinerary-page-left .itinerary-content .description {
  padding: 20px 0 0 0;
}

.itinerary-page .itinerary-page-left .itinerary-content .description .description-img img {
  width: 100%;
  max-height: 350px;
  position: relative;
}

.itinerary-page .itinerary-page-left .itinerary-content .description .description-content {
  padding: 20px 0 10px 0;
}

.itinerary-page .itinerary-page-left .itinerary-content .description .description-content h5 {
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}

.itinerary-page .itinerary-page-left .itinerary-content .description .description-content span {
  font-size: 1rem;
  color: #000;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian {
  margin-top: 20px;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .szh-accordion__item-heading {
  border: 1px solid #D4D4D4;
}

/* .itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .accordion-item .overview-content {
  padding: 10px 20px 15px 20px;
} */

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .accordion-button {
  font-size: 1.125rem;
  font-weight: bold;
  color: #000;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .accordion-button:focus {
  box-shadow: none;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #000;
  background-color: white;
  border-bottom: 1px solid #D4D4D4;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .overview-title {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 15px 0;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .overview-title img {
  width: 20px;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .overview-title span {
  font-size: 1rem;
  font-weight: bold;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .overview-list {
  list-style-image: url("/assets/images/nav-img-active.png");
  /* margin-left: 10px; */
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .overview-list li {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 400;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .itinerary-container {
  max-width: 800px;
  margin: auto;
  margin: 10px 0 20px 0;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .itinerary-container .itinerary-item {
  display: flex;
  border: 1px solid #D4D4D4;
  overflow: hidden;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .itinerary-container .day {
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  min-width: 100px;
  border-right: 1px solid #D4D4D4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .itinerary-container .content {
  flex-grow: 1;
  margin: 3px 10px;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .itinerary-container .content .title {
  color: #000;
  font-weight: 500;
  font-size: 0.875rem;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .itinerary-container .content p {
  margin: 0;
  color: #757575;
  font-size: 0.75rem;
  font-weight: 400;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .meals .overview-list {
  display: flex;
  gap: 35px;
  align-items: center;
  flex-wrap: wrap;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail {
  border: 1px solid #ccc;
  /* margin: 20px; */
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail .nav-tabs {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 2px solid #e0e0e0;
  background: #F2F2F2;
  margin: 0;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail .nav-tabs .title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  color: #134076;
  font-weight: 600;
  border-right: 1px solid #D4D4D4;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail .nav-link {
  color: #134076;
  font-weight: 600;
  background-color: #F2F2F2;
  border-radius: 0;
  border-right: 1px solid #D4D4D4;
  padding: 12px 20px;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail .nav-link.active {
  background-color: #f39132;
  border: 1px solid #f39132;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail .img-fluid {
  border-radius: 12px;
  width: 100%;
  /* max-height: 100%; */
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail .tab-content {
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  padding: 20px;
  margin-top: -1px;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail h4 {
  color: #134076;
  font-size: 1.125rem;
  font-weight: 600;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail ul {
  margin-left: 12px;
  border: none;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail ul.list-unstyled li {
  list-style: disc;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail ul.list-unstyled li strong {
  color: #000;
  font-size: 1rem;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail ul.list-unstyled li p {
  color: #757575;
  font-size: 0.875rem;
}

/* .itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .hotel-section-accordion {
  margin: 20px;
} */

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .hotel-section-accordion .note {
  font-size: 0.875rem;
  color: #757575;
  margin-bottom: 20px;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .hotel-section-accordion hr {
  margin: 20px 0;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .hotel-section-accordion .hotel-item .hotel-img img {
  width: 100%;
  max-width: 370px;
  max-height: 225px;
  border-radius: 21px;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .hotel-section-accordion .hotel-item .hotel-info h5 {
  font-weight: 600;
  color: #000;
  font-size: 1rem;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .hotel-section-accordion .hotel-item .hotel-info img {
  margin: 5px 0;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .hotel-section-accordion .hotel-item .hotel-info .location {
  color: #757575;
  font-size: 0.875rem;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .hotel-section-accordion .hotel-item .hotel-info .hotel-services {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .hotel-section-accordion .hotel-item .hotel-info .hotel-services span {
  border-radius: 47px;
  border: 1px solid #757575;
  color: #757575;
  font-size: 0.875rem;
  padding: 5px 10px;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .hotel-section-accordion .hotel-item .hotel-info .star-img {
  width: 20px;
  height: 20px;
}

/* .itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .inc-exc-section,
.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .visa-checklist-section {
  margin: 10px 20px 20px 20px;
} */

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .inc-exc-section .title {
  padding: 5px 0 7px 0;
  font-weight: bold;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .inc-exc-section .inc {
  list-style-image: url("/assets/images/inc-tick.svg");
  /* margin-left: 15px; */
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .inc-exc-section .exc {
  list-style-image: url("/assets/images/exc-cancle.svg");
  /* margin-left: 25px; */
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .inc-exc-section ul li {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 0.875rem;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .visa-checklist-section .title {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 10px 0;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .visa-checklist-section .title span {
  font-weight: 600;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .visa-checklist-section ul {
  list-style: disc;
  margin-left: 30px;
}

.itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .visa-checklist-section ul li {
  margin: 0 0 4px 0;
  font-size: 0.875rem;
  font-weight: 400;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.rotate-0 {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

/* PACKAGE ITINERARY ENDS */

/* LOADING */
.tours-section .tours-content .tour-cards .tour-card .tour-image .img-loading {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  height: 150px;
}

@media(max-width:1200px) {
  .title .title-text h2 {
    font-size: 2rem;
  }

}

@media(max-width: 992px) {
  .title-with-tabs {
    flex-wrap: wrap;
    gap: 15px;
  }

  .itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .overview-content .meals .overview-list {
    display: block;
  }

  .itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .hotel-section-accordion .hotel-item .hotel-info,
  .itinerary-page .itinerary-page-left .itinerary-content .itineary-accordian .itinerary-detail h4 {
    margin-top: 20px;
  }
}

@media(max-width: 768px) {
  .inner-tours-section .inner-tour-cards .package-card .card-title-box {
    flex-wrap: wrap;
  }

  .inner-tours-section .inner-tour-cards .package-card .inner-card {
    flex-direction: column;
  }

  .inner-tours-section .inner-tour-cards .package-card .package-card-body {
    padding: 10px 5px 5px 5px;
  }

  .inner-tours-section .inner-tour-cards .package-card .package-card-body,
  .inner-tours-section .inner-tour-cards .package-card .card-body-right {
    width: 100%;
  }

  .inner-tours-section .inner-tour-cards .package-card .package-card-body .card-services .card-service .service-name,
  .inner-tours-section .inner-tour-cards .package-card .card-body-right .hl {
    display: none;
  }

  .inner-tours-section .inner-tour-cards .package-card .package-card-body .card-services .card-service {
    min-height: unset;
  }

  .inner-tours-section .inner-tour-cards .package-card .card-body-right .card-price {
    flex-direction: row;
  }

  .inner-tours-section .inner-tour-cards .package-card .package-card-img-wrapper {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .title .deal-tabs .nav-tabs .nav-link {
    padding: 5px 7px;
    font-size: 0.875rem;
  }

  .title .view-more .slider-controls {
    display: none;
  }

  .title .title-text h2 {
    font-size: 1.5rem;
  }

  .inner-tours-section .inner-tour-cards .package-card .package-card-title,
  .inner-tours-section .inner-tour-cards .package-card .price .price-value {
    font-size: 1.125rem;
  }

  .inner-tours-section .inner-tour-cards .package-card .view-more-btn a,
  .inner-tours-section .inner-tour-cards .package-card .view-more-btn .btn,
  .inner-tours-section .inner-tour-cards .package-card .card-subtitle {
    font-size: 0.875rem;
  }

  .inner-tours-section .inner-tour-cards .package-card .package-card-img {
    max-height: 212px;
  }
}